:root {
  --Body_color: #e9e5dc;
  --sub-color: #eac059;
  --full_width: 100%;
  --slider_height: 80%;
  --font-size: 16px;
  --slider-opacity: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e9e5dc;
}

/* Start of header part 1 */

.sticky {
  position: sticky; /* Also it could be >--> position: fixed; */
  top: 0;
  width: 100%;
}

.logo {
  width: 35%;
}

.slogan {
  width: 15%;
  position: absolute;
  margin: 1% auto;
}

.vision img {
  height: 8vh;
  width: auto;
}

.lang svg {
  background-color: rgb(199, 198, 198);
}

/* End of header part 1 */

/* Start of header part 2 */
.navbar {
  z-index: +1;
}

.navbar-nav {
  margin-bottom: 7%;
  font-size: 21px;
  font-family: "Ubuntu", sans-serif;
}

.navbar-dark .navbar-nav .bottom.active,
.navbar-dark .navbar-nav .show > .bottom {
  /* to make the active nav word "home" is higlighted by defult and we get the class name from -inspect elements -- style section down */

  color: #000;
  background-color: var(--sub-color);
}

.navbar-dark .navbar-nav .bottom,
.navbar-dark .navbar-nav .show > .bottom {
  color: #fff;
}

.navbar-dark .navbar-nav .bottom:hover {
  background: #eac059;
  color: #000;
  transition: 1s all ease-in-out;
}

.dropdown .dropdown-menu {
  background-color: rgb(22, 14, 14);
}

.dropdown .dropdown-menu .dropdown-item {
  color: chocolate;
}

/* End of header part 2 */

/* START OF SEARCH BAR */

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: cornsilk;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 30px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 5px;
  width: 250px;
  caret-color: #eac059;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: #e9e5dc;
  color: black;
}

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

/*SEARCH BAR ENDS*/

/*start signin/signup anchor*/

.div-signin-signup {
  margin-top: 80px;
}

.div-signin-signup a {
  color: var(--sub-color);
  text-decoration: none;
  background-color: black;
  border: 1px solid var(--sub-color);
}

.div-signin-signup a:hover {
  background-color: #eac059;
  color: black;
  transition: 0.5s all ease-in-out;
  border: 0px;
}
/*end signin/signup anchor*/

/* End of Header */

/* Main Slider Starts */

.slider {
  position: relative;
  background-color: #000;
}

.caption {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 20vh;
}

.caption .button {
  color: whitesmoke;
}

.caption .button:hover {
  color: #000;
  background-color: #e9e5dc;
  transition: 0.5s all ease-in-out;
}

.icon {
  background-color: white;
  width: 35px;
  height: 35px;
  padding-left: 1%;
}

/* END OF NAVIGATION and HEADER  */

/* START OF NEWS */

.team-section {
  width: 100%;
}

.team-section .container {
  width: 80%;
  margin: auto;
}

.team-section .container .row {
  width: 60%;
  margin: auto;
}

.team-section .container .row .title {
  text-align: center;
  margin-top: 50px;
}

.team-section .container .row .title h1 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #eb6234;
}

.team-section .container .team-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}

.team-section .container .team-card .card {
  width: 100%;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: none;
}

.team-section .container .team-card .card:hover {
  background-color: var(--sub-color);
  transition: 0.3s;
}

.team-section .container .team-card .card .image-section img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 6px solid var(--body-color);
}

.team-section .container .team-card .card .content {
  width: 100%;
  text-align: center;
}

.team-section .container .team-card .card .content h3 {
  font-size: 17px;
  font-weight: 650;
  margin-top: 10px;
  letter-spacing: 1.5px;
  color: #eb6234;
}

.team-section .container .team-card .card .content h4 {
  font-size: 15px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  color: #6e6e6e;
}

.head {
  margin-top: 86px;
  height: 62px;
}
.head h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  text-align: center;
  color: #444444;
}

.logo2 img {
  height: auto;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.text {
  margin-top: 35px;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  text-align: center;
  color: #4a4a4a;
}

.fix4 {
  margin-top: 100px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mis-vis {
  width: 62.4365%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mis-vis .mision img {
  position: absolute;
  transform: translate(-150%, 30%);
  margin-left: 70px;
}
.mis-vis .mision h2 {
  font-size: 36px;
  font-family: "Poppins";
  color: #10242b;
  font-weight: bold;
  margin-left: 65px;
}
.mis-vis .mision p {
  position: relative;
  font-size: 15px;
  font-family: "Poppins";
  color: #5c666a;
  margin-left: 65px;
  margin-right: 20px;
}
.mis-vis .vision img {
  position: absolute;
  transform: translate(0%, 30%);
}
.mis-vis .vision h2 {
  font-size: 36px;
  font-family: "Poppins";
  color: #10242b;
  font-weight: bold;
  margin-left: 65px;
  margin-right: 20px;
}
.mis-vis .vision p {
  position: relative;
  font-size: 15px;
  font-family: "Poppins";
  color: #5c666a;
  margin-left: 70px;
}

@media (max-width: 768px) {
  .mis-vis {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mis-vis .mision {
    width: 100%;
  }
  .mis-vis .vision {
    margin-top: 40px;
    width: 100%;
  }
}

/* start of footer */

footer {
  background: linear-gradient(rgba(34, 51, 85, 0.8), rgba(34, 51, 85, 0.8));
  width: 100%;
  height: auto;
  color: white;
  border: none;
  position: relative;
  padding-bottom: 1%;
}

.footer-aast {
  width: 13%;
}

.footer-img2 {
  position: absolute;
  width: 11%;
  margin: 4% 45% 1% 45%;
}

.bottom-nav a {
  color: #fff;
  text-decoration: none;
}

.bottom-nav {
  padding: 1% 2%;
}

.bottom-nav ul {
  border-bottom: 2px solid #e9e5dc;
  border-width: 10%;
}
